 html {
    background: blue;
 }
 header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 80px;
}
.on {
    background-color: green;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.8;
    border-radius: 5px;
}
.on:hover {
    background-color: aliceblue;
    color: green;
    border: 1px solid green;
}

.off {
    background-color: brown;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.8;
    border-radius: 5px; 
}
.off:hover {
    background-color: aliceblue;
    color: brown;
    border: 1px solid brown;
}
span {
    color: red;
}